body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-light {
  padding: 10px 75px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #009CFF;
  font-weight: 600;
}

.navbar-light .btn-login {
  background-color: #009CFF;
  color: white;
  padding: 8px 30px;
}

header {
  margin-top: 20px;
  margin-bottom: -260px;
}

header .title-app {
  margin-top: 40px;
  font-size: 14px;
  color: #009CFF;
  font-weight: 600;
}

header .title-banner {
  color: #094077;
  font-family: 'Merriweather', serif;
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.3;
}

header .subtitle-banner {
  margin-top: 20px;
  font-size: 15px;
}

header .btn-getstarted {
  background-color: #009CFF;
  color: white;
  font-weight: 500;
  padding: 8px 40px;
}

header .banner-img {
  max-height: 55%;
}

@media only screen and (max-width: 1000px) {
  header {
    margin-bottom: 20px;
  }
  .banner-img {
    display: none;
  }
}

.section-our-service-header {
  margin-bottom: 30px;
}

.section-our-service-header .title-header {
  color: #094077;
  font-size: 25px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.section-our-service-content .card-service {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-height: 200px;
  background-color: #fff;
  color: black;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}

.section-our-service-content .card-service:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #358dff;
  color: #fff;
}

.section-our-service-content .card-service .img-service {
  max-width: 60px;
}

.section-our-service-content .card-service .title-service {
  font-weight: 700;
  margin-top: 20px;
}

.section-our-service-content .card-service .desc-service {
  margin-top: 10px;
}

.section-hospital-header {
  padding-top: 25px;
  margin-top: 15px;
  background-color: #fff;
}

.section-hospital-header .title-header {
  color: #094077;
  font-size: 25px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.section-hospital-content {
  padding-top: 15px;
  margin-top: -15px;
  background-color: #fff;
}

.section-hospital-content .card-hospital {
  min-height: 220px;
  border-radius: 4px;
  background-color: #000;
  color: white;
  background-size: cover;
  margin-bottom: 20px;
}

.section-hospital-content .card-hospital .overlay {
  opacity: 1;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  border-radius: 6px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  color: white;
  height: 220px;
}

.section-hospital-content .card-hospital .overlay:hover {
  cursor: pointer;
}

.section-hospital-content .card-hospital .overlay .hospital-city {
  padding-top: 140px;
  padding-left: 20px;
  font-size: 18px;
}

.section-hospital-content .card-hospital .overlay .hospital-name {
  font-size: 15px;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.view-all-hospital {
  color: #094077 !important;
  font-weight: 500;
  cursor: pointer;
}

.section-footer {
  background-color: #358dff;
  color: white;
}

.section-footer a {
  color: white;
}

.section-footer .copyright-box {
  margin-bottom: -200px;
}

.bg-login {
  background: #187ec4;
  background: -webkit-gradient(linear, left top, right top, from(#487ef3), color-stop(60%, #0c52bd), to(#127cf5));
  background: linear-gradient(90deg, #487ef3 0%, #0c52bd 60%, #127cf5 100%);
  margin-top: 15px;
}

.bg-login .card-login {
  height: 570px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

.bg-login .card-login .login-img {
  border-radius: 5px;
  background-color: #E6F2FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

.bg-login .card-login .login-img .login-banner {
  background-size: cover;
  max-width: 60%;
}

.bg-login .card-login .login-form {
  height: 570px;
  overflow: auto;
  padding: 40px;
}

.bg-login .card-login .login-form .login-logo {
  max-width: 0px;
}

.bg-login .card-login .login-form .login-header .title-header {
  font-size: 20px;
}

.bg-login .card-login .login-form .login-header .subtitle-header {
  font-size: 14px;
}

.bg-login .card-login .login-form .btn-login {
  background-color: #009CFF;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
}

.section-banner {
  padding: 30px 0px;
  background-color: #358dff;
}

.section-banner .select-hospital {
  color: white;
  font-size: 25px;
}

.section-banner .select-hospital-p {
  color: white;
  font-size: 16px;
}

.section-banner .btn-search-hospital {
  background-color: #F96D01;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
}

.section-hospital-list {
  margin-top: 20px;
}

.section-hospital-list h2 {
  font-size: 20px;
}

.section-hospital-list .card-hospital-list {
  background-color: white;
  padding: 20px;
}

.section-hospital-list .card-hospital-list .hospital-image {
  max-width: 200px;
  padding-bottom: 10px;
}

.section-hospital-list .card-hospital-list .hospital-detail {
  padding-bottom: 10px;
}

.section-hospital-list .card-hospital-list .hospital-detail .hospital-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.section-hospital-list .card-hospital-list .hospital-detail .hospital-city {
  font-size: 14px;
  margin-bottom: 5px;
}

.section-hospital-list .card-hospital-list .hospital-pricing {
  padding-bottom: 5px;
}

.section-hospital-list .card-hospital-list .hospital-pricing .hospital-price-label {
  color: #c2c2c2;
}

.section-hospital-list .card-hospital-list .hospital-pricing .hospital-price {
  color: black;
}

.section-hospital-list .card-hospital-list .hospital-pricing .hospital-quota-label {
  margin-top: 10px;
  color: #c2c2c2;
}

.section-hospital-list .card-hospital-list .hospital-pricing .hospital-quota {
  color: black;
}

.section-hospital-list .card-hospital-list .hospital-pricing .btn-check-hospital {
  margin-top: 10px;
  background-color: #F96D01;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
}

.section-hospital-detail {
  margin-top: 30px;
  background: #fff;
}

.section-hospital-detail .gallery .xzoom-container {
  display: block;
}

.section-hospital-detail .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-hospital-detail .gallery .xzoom-container img .xzoom-gallery {
  height: 120px;
  width: 120px;
}

.section-hospital-detail .gallery .xzoom-container .xactive {
  border: 4px solid #1ABC9C;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-hospital-detail .hospital-detail .hospital-name {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

.section-hospital-detail .hospital-detail .hospital-city {
  font-size: 14px;
  margin-bottom: 10px;
}

.section-hospital-detail .hospital-detail .hospital-desc {
  font-weight: 300;
}

.section-package-list {
  margin-top: 30px;
}

.section-package-list .title-banner {
  font-size: 20px;
  margin-bottom: 30px;
}

.section-package-list .card-hospital {
  min-height: 220px;
  border-radius: 4px;
  background-color: #000;
  color: white;
  background-size: cover;
  margin-bottom: 20px;
}

.section-package-list .card-hospital .overlay {
  opacity: 1;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  border-radius: 6px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  color: white;
  height: 220px;
}

.section-package-list .card-hospital .overlay:hover {
  cursor: pointer;
}

.section-package-list .card-hospital .overlay .hospital-city {
  padding-top: 140px;
  padding-left: 20px;
  font-size: 18px;
}

.section-package-list .card-hospital .overlay .hospital-name {
  font-size: 15px;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.breadcrumb {
  background-color: #fff;
}

.breadcrumb .breadcrumb-item.active {
  color: #009CFF;
}

.section-selected-package {
  background-color: #fff;
}

.section-selected-package .card-selected-package {
  border: 1px solid #d3d1d1;
  border-radius: 4px;
  padding: 10px;
}

.section-selected-package .card-selected-package .title-banner {
  font-size: 20px;
  margin-bottom: 30px;
}

.section-selected-package .card-selected-package .img-selected-package {
  max-width: 150px;
}

.section-selected-package .card-selected-package .package-detail {
  padding-left: 20px;
}

.section-selected-package .card-selected-package .package-detail .package-name {
  font-size: 18px;
  font-weight: 500;
}

.section-selected-package .card-selected-package .package-detail .package-price {
  margin-top: 3px;
  font-size: 15px;
  font-weight: 400;
}

.section-selected-package .card-selected-package .package-detail .package-qty .btn-plus {
  background-color: #F96D01;
  color: white;
  margin-left: 10px;
}

.section-selected-package .card-selected-package .package-detail .package-qty .btn-minus {
  background-color: #F96D01;
  color: white;
  margin-right: 10px;
}

.section-selected-package .card-selected-package .package-detail .package-qty .qty-input {
  max-width: 60px;
}

.section-selected-package .card-checkout-package {
  border: 1px solid #d3d1d1;
  border-radius: 4px;
  padding: 15px;
}

.section-selected-package .card-checkout-package .title-banner {
  font-size: 20px;
  margin-bottom: 30px;
}

.section-selected-package .btn-checkout {
  background-color: #F96D01;
  color: white;
}

.section-selected-package .btn-cancel-checkout {
  background-color: #F96D01;
  color: white;
}

.section-profile {
  margin-top: 30px;
}

.section-profile .card-checkout-package {
  border: 1px solid #d3d1d1;
  border-radius: 4px;
  padding: 15px;
}

.section-profile .card-checkout-package .title-banner {
  font-size: 20px;
  margin-bottom: 20px;
}

.section-profile .card-checkout-package .img-profile {
  max-width: 200px;
}

.section-profile .card-checkout-package .textarea-address {
  height: 50px;
}

.section-profile .card-checkout-package .btn-edit {
  background-color: #009CFF;
  color: white;
}

.section-profile .card-checkout-package .menu-list a {
  color: black;
  text-decoration: none;
}

.section-profile .card-checkout-package .menu-list a:hover {
  color: #009CFF;
}

.section-profile .card-checkout-package .menu-list a.active {
  color: #009CFF;
  font-weight: 500;
}

.section-profile .card-checkout-package .card-hospital-list {
  background-color: white;
}

.section-profile .card-checkout-package .card-hospital-list .hospital-image {
  max-width: 150px;
  padding-bottom: 10px;
}

.section-profile .card-checkout-package .card-hospital-list .hospital-detail {
  padding-bottom: 10px;
  padding-left: 20px;
}

.section-profile .card-checkout-package .card-hospital-list .hospital-detail .hospital-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.section-profile .card-checkout-package .card-hospital-list .hospital-detail .hospital-city {
  font-size: 14px;
  margin-bottom: 5px;
}

.section-profile .card-checkout-package .card-hospital-list .hospital-detail .hospital-desc {
  color: #c2c2c2;
}

.section-profile .card-checkout-package .card-hospital-list .hospital-pricing {
  padding-bottom: 5px;
}

.section-profile .card-checkout-package .card-hospital-list .hospital-pricing .hospital-price-label {
  color: #c2c2c2;
}

.section-profile .card-checkout-package .card-hospital-list .hospital-pricing .hospital-price {
  color: black;
}

.section-profile .card-checkout-package .card-hospital-list .hospital-pricing .hospital-quota-label {
  margin-top: 10px;
  color: #c2c2c2;
}

.section-profile .card-checkout-package .card-hospital-list .hospital-pricing .hospital-quota {
  color: black;
}

.section-profile .card-checkout-package .card-hospital-list .hospital-pricing .btn-check-hospital {
  margin-top: 10px;
  background-color: #F96D01;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
}

.section-article-header {
  margin-top: 40px;
  margin-bottom: 30px;
}

.section-article-header .title-header {
  color: #094077;
  font-size: 25px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.section-article-content .card-article {
  min-height: 220px;
  border-radius: 4px;
  background-color: #000;
  color: white;
  background-size: cover;
  margin-bottom: 20px;
}

.section-article-content .card-article .overlay {
  opacity: 1;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  border-radius: 6px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  color: white;
  height: 220px;
}

.section-article-content .card-article .overlay:hover {
  cursor: pointer;
}

.section-article-content .card-article .overlay .article-city {
  padding-top: 120px;
  padding-left: 20px;
  font-size: 18px;
}

.section-article-content .card-article .overlay .article-name {
  font-size: 15px;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/*# sourceMappingURL=main.css.map */